fastapi
uvicorn
motor
pymongo
python-dotenv
pydantic
pydantic-settings
email-validator
python-jose
passlib
python-multipart
dnspython
beanie
httpx
beautifulsoup4
urllib3
openai
requests
reportlab
