fastapi
uvicorn

motor
pymongo
beanie

python-dotenv
pydantic
pydantic-settings

email-validator
python-jose
passlib
python-multipart

dnspython
httpx
beautifulsoup4
urllib3
websockets.legacy
requests
redis
reportlab
resend

setuptools
six
PyYAML
Jinja2
click

anyio
starlette
h11
sniffio
idna
certifi
charset-normalizer
